PIN_LED = 2
TICK = 200
PIN_LIGHT = 23
PIN_PIR = 22
PIN_DHT = 21
RELAY = [
    {"pin": 19, "enabled": 0},
    {"pin": 18, "enabled": 0},
]
WIFI = [
    ["ap_name", "ap_pwd"]
]
PORT = 5053
ADDRESS = ("192.168.1.255", PORT)
BROADCAST_IP = '0.0.0.0'

STATICIV = "aaaaaaaaaaaaaaaa"
IVKEY = "aaaaaaaaaaaaaaaa"
DATAKEY = "aaaaaaaaaaaaaaaa"
PASSPHRASE = "aaaaaaaaaaaaaaaa"
